@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

:root {
    --black: #121212;
    --white: #fff;
    --grey: #aaa;
    --rebecca: #753ea3;
    --comicNeue:'Comic Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    font-family: var(--comicNeue);
    color: var(--white);
}

.navbar {
    display: flex;
    width: 100%;
    padding: 15px 30px 15px 30px;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    width: 33vw;
    align-items: center;
    justify-content: flex-start;
}

.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33vw;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 33vw;
}

i {
    margin: 0 20px;
    cursor: pointer;
}

.menu {
    text-decoration: none;
    color: var(--grey);
}

.menu:hover {
    color: var(--white);
    transition-duration: 500ms;
}

.active {
    pointer-events: none;
    color: var(--white);
    font-size: 15pt;
}

.principal{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(./img/cover.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.editora {
    height: 30px;
    align-content: center;
}

.container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}


.logoDestaque {
    height: 200px;
}

.details {
    display: flex;
    align-items: center;
}

.rating {
    margin: 0;
    padding: 0;
    cursor: default;
}

.info {
    margin-left: 25px;
}

.descricao {
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

button {
    color: var(--white);
    padding: 15px;
    background: var(--rebecca);
    border: var(--rebecca) solid 2px;
    border-radius: 12px;
    cursor: pointer;
}

.cover{
    width:400px;
    padding: 50px;
}

.card {
    display: flex;
    justify-content: center;
}

.card img {
    width: 100%;
}

.content {
    height: 100%;
    color: var(--white);
    padding: 20px;
}

.releases {
    margin-bottom: 50px;
}

.releasesCards {
    display: flex;
    justify-content: center;
}
.releasesCards img {
    margin: 10px 10px;
    width: 200px;
}